body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
.input-group {
    margin-bottom: 10px;
}
label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
input {
    width: calc(100% - 12px);
    padding: 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.result {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.result p {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}
.footer {
    background-color: #363333;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-links {
    margin-bottom: 10px;
    color: #45a049;
}

.social-links a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.social-links a:hover {
    color: #fff;
}

.footer-text {
    font-size: 14px;
}

.footer-text a {
    color: #6f78eb;
    text-decoration: none;
}

.footer-text a:hover {
    text-decoration: underline;
}
